body {
  background: black;
}

h1 {
  color: white;
  padding-left: 35%;
  padding-right: 40%;
  font-family: 'Teko', sans-serif;
  font-size: 7em;
}

input{
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  font-size: 22px;
  margin: 10px;
}

li {
  display: inline-block;
  margin: 15px 15px 15px 15px;
  padding-right: 75px;
  padding-left: 75px;
  height: 470px;
  width: 151px;
  background: white;
}

p {
  height: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: center;
}

img {
  height: 400px;
  width: 100px;

}

.album {
  padding: 5px;
}
